{% extends 'base.html'%}
{%block content%}
<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <img src="{{item.image.url}}" class="img-fluid"
                     alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Content-->
                <div class="p-4">

                    <div class="mb-3">
                        <h1>
                                {{object.title}}
                        </h1>
                    </div>
                    {%for size in object.sizes%}
                        {{size}}
                    {%endfor%}
                    <p class="lead" style="color: black">
                        {% if object.discount_price %}
                        <span class="mr-1">
                            <del> VND {{ object.price }} VND</del>
                        </span>
                        <span>{{ object.discount_price }} VND</span>
                        {% else %}
                        <span>Giá: {{ object.price }} VND </span>
                        {% endif %}

                    </p>
                    <p class="lead font-weight-bold" style="color: black">Description</p>

                    <p style="color: black">{{object.description}}</p>
                    <p class="lead font-weight-bold" style="color: black">Size: {{object.size_verbose}}</p>
                    {%if not user.is_authenticated %}

                    <a href="{% url 'login'%}"  class= "btn btn-primary btn-md my-0 p" >Add to cart
                            <i class="fas fa-shopping-cart ml-1"></i>
                    </a>
                    <a href="{% url 'login'%}"  class= "btn btn-danger btn-md my-0 p" > Remove Item
                    </a>

                    {%else%}
                    <a href="{{object.get_add_to_cart_url}}"  class= "btn btn-primary btn-md my-0 p" >Add to cart
                            <i class="fas fa-shopping-cart ml-1"></i>
                    </a>
                    <a href="{{object.get_remove_from_cart_url}}"  class= "btn btn-danger btn-md my-0 p" > Remove Item
                    </a>
                    {%endif%}
                    <p>

                </div>




                </div>
                <!--Content-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>



        </div>
        <!--Grid row-->

    </div>
</main>
<!--Main layout-->
{% endblock %}